<ion-header [translucent]="true" class="orange__theme_header">
  <ion-toolbar class="toolbar__header">
    <ion-buttons slot="start">
      <ion-menu-button class="color-black"></ion-menu-button>
    </ion-buttons>
    <ion-title class="title" size="large">Online Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-white">
  <ion-grid class="mt-48 mb__66 online__payment">
    <div style="text-align: center;">
      <img src="assets/logo.png" style="height: 150px; width: 200px;" />
    </div>

    <div class="color-black one">
      Make your payment online
    </div>
    <div class="two">
      Bank Details
    </div>
    <div>
      <table>
        <tr>
          <td>Account Name:</td>
          <td>Sandesh S. Kulkarni</td>
        </tr>
        <tr>
          <td>Bank Name:</td>
          <td>ICICI Bank</td>
        </tr>
        <tr>
          <td>Account No.:</td>
          <td>041901503593</td>
        </tr>
        <tr>
          <td>IFSC Code:</td>
          <td>ICIC0000419</td>
        </tr>
        <tr>
          <td>Branch Name:</td>
          <td>Vashi Sector 12</td>
        </tr>
        <tr>
          <td>Google Pay:</td>
          <td>9022943590</td>
        </tr>
        <tr>
          <td>Phone Pay:</td>
          <td>9022943590</td>
        </tr>
        <tr>
          <td>Paytm:</td>
          <td>9022943590</td>
        </tr>
      </table>
    </div>


  </ion-grid>
</ion-content>