.grah_table {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &_container {
        padding: 0.5rem;
        background: url(/assets/category.png) 0 0/100% 100% no-repeat;
        box-shadow: 0 10px 6px -6px #6c6868;
        -webkit-box-shadow: 0 10px 6px -6px #6c6868;
        color: #9a4d00;
        border-radius: 1rem;
        div {
            display: flex;
            gap: 0.5rem;
            justify-content: center;
            b:after {
                content: " : ";
            }
        }
    }
}
