<ion-header translucent="true" class="orange__theme_header">
  <ion-toolbar class="toolbar__header ion-no-border">
    <ion-buttons slot="start">
      <ion-menu-button class="color-black font-30"></ion-menu-button>
    </ion-buttons>
    <ion-title isEllipsisActive class="title" size="large">
      <span class="title">
        Category
      </span>
    </ion-title>
    <!-- <ion-input class="search-input" *ngIf="isSearchClicked"></ion-input>
    <ion-icon class="font-30" slot="end" name="search" (click)="onSearch()"></ion-icon> -->
    <ion-icon class="font-30 ellipsis-vertical" slot="end" name="share-social" (click)="onShare()">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="orange__theme_content" [fullscreen]="true">
  <app-pull-refresher loaderText="Category" (pullToRefresh)="onRefresh($event)"></app-pull-refresher>

  <ion-grid class="mt-48">
    <ion-row [@listAnimation]="list.length">
      <ion-col class="card-col" size="12" *ngFor="let item of list" (click)="onClick(item)">
        <div class="card">
          <div class="card-body">
            <div class="card-number">
              <div>{{item.name}}</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>