.scale-in-bottom {
    margin: auto 10px;
    position: fixed;
    width: 94%;
    min-height: 200px;
    z-index: 1;
    bottom: 3.563rem;
    border-radius: 1.563rem;

    -webkit-animation: scale-in-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-bottom 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-bottom {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}
@keyframes scale-in-bottom {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        opacity: 1;
    }
}

