.my_youtube {
    .auto-resizable-iframe {
        max-width: 560px;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .youtube__title {
            position: absolute;
            bottom: 0;
            margin-bottom: -1.5rem;
            font-weight: bold;
        }
    }

    .auto-resizable-iframe > div {
        position: relative;
        padding-bottom: 75%;
        height: 0px;
    }

    .auto-resizable-iframe iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }
}
