.div__panchwar {
    background: url(/assets/category.png) 0 0/100% 100% no-repeat;
    box-shadow: 0 10px 6px -6px #6c6868;
    -webkit-box-shadow: 0 10px 6px -6px #6c6868;
    color: #9a4d00;
    border-radius: 1rem;
    padding: 0.5rem;
}
